* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

p {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

body > div:first-child {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}

.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-bar {
    display: flex;
    background-color: #13213e;
    height: 48px;
    align-items: center;
    padding: 0px 16px;
    color: #fff;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}

.header-bar .logo {
    display: flex;
}

.header-bar__left,
.header-bar__right {
    display: flex;
    align-items: center;
}

.header-bar__name {
    border-left: 1px solid #fff;
    margin-left: 16px;
    padding-left: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.header-user__avatar {
    margin-left: 16px;
}

.nav-bar {
    display: flex;
    list-style: none;
    margin: 0 0 0 0;
}

.nav-bar .nav-bar__item {
    padding: 0px 12px;
    line-height: 48px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

.header-bar__name a {
    color: white;
    text-decoration: none;
}

.content {
    margin-top: 48px;
    height: calc(100% - 48px);
}

.content-box__content div.dt-container .dt-input {
    border-radius: 0;
    margin-left: 8px;
}

.alert.alert-info {
    border-radius: 0;
    margin-bottom: 6px;
}

.maplibregl-compact {
    display: none !important;
}

.tag-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}

.map {
    height: 100%;
    width: 100%;
}

.legend {
    position: absolute;
    right: 8px;
    bottom: 8px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    padding-right: 16px;
    z-index: 10;
    /* width: 300px; */
}

.legend-item {
    margin-left: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.legend-text {
    margin-left: 8px;
}

.btn.btn-success {
    padding: 4px 8px;
    margin-right: 4px;
}

div.dt-container .dt-search {
    display: none;
}

.loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    opacity: 0.8;
}

.point-map-info {
    position: absolute;
    top: 8px;
    left: 8px;
    /* bottom: 8px; */
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 480px;
    overflow: auto;
}

.point-map-info tr td:first-child {
    width: 160px;
}

.point-map-info__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.point-map-info__nav #license-point-map-title {
    margin: 0px;
}

.point-map-info__nav #station-point-map-title {
    margin: 0px;
}

#license-point-map-info__close-btn {
    padding: 8px;
}

#license-point-map-info__close-btn:hover {
    cursor: pointer;
}

#station-point-map-info__close-btn {
    padding: 8px;
}

#station-point-map-info__close-btn:hover {
    cursor: pointer;
}

.point-map-info__close-btn {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 6px;
}

.point-map-info table {
    margin-bottom: 8px;
}


.modal {
    background-color: rgba(204,204,204,0.5);
}
.modal-backdrop {
    display: none;
}
