* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

p {
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}


body>div:first-child {
    height: 100%;
    padding: 0 !important;
    margin: 0 !important;
}


.main {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header-bar {
    display: flex;
    background-color: #13213E;
    height: 48px;
    align-items: center;
    padding: 0px 16px;
    color: #fff;
    justify-content: space-between;
    width: 100%;
    position: fixed;
}


.header-bar .logo {
    display: flex;
}

.header-bar__left,
.header-bar__right {
    display: flex;
    align-items: center;

}

.header-bar__name {
    border-left: 1px solid #fff;
    margin-left: 16px;
    padding-left: 16px;
    font-weight: 600;
    text-transform: uppercase;
}

.nav-bar {
    display: flex;
    list-style: none;
    margin: 0 0 0 0;
}


.nav-bar .nav-bar__item {
    padding: 0px 24px;
    line-height: 48px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
}

/* .nav-bar__item:hover, .nav-bar__item.active {
    background-color: #fff;
    color: #13213E;
} */

.content {
    margin-top: 48px;
    height: calc(100% - 48px);
}

.content-box__content div.dt-container .dt-input {
    border-radius: 0;
    margin-left: 8px;
}

.alert.alert-info {
    border-radius: 0;
    margin-bottom: 6px;
}

.maplibregl-compact {
    display: none !important;
}

.tag-circle {
    width: 12px;
    height: 12px;
    border-radius: 50%;
}

.dropdown-menu {
    max-height: 200px;
    overflow-y: auto;
}


.legend {
    position: absolute;
    right: 8px;
    bottom: 8px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    width: 300px;
}

.legend-item {
    margin-left: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.legend-text {
    margin-left: 8px;
}

.smtp-box__item {
    display: flex;
    margin-bottom: 16px;
}

.smtp-box__item label {
    width: 10%;
}

.smtp-box__item input, .smtp-box__item textarea {
    width: 90%;
    max-width: 500px;
    border-radius: 0;
}

.config-control__heading {
    margin: 12px 0 16px 0;
}