
.menu-box {
    /* width: 21%; */
    background-color: #1F325C;
    height: 100%;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.menu-box__item {
    display: flex;
    flex-direction: row;
    padding: 12px;
    color: #ADB5C3;
    font-size: 14px;
    font-weight: bold;
}

.menu-box__item:hover {
    cursor: pointer;
}

.menu-box__item p {
    margin-top: 1px;
    margin-left: 8px;
}

.menu-box__item.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #579EFF;
}

.content {
    position: fixed;
    display: flex;
    width: 100%;
}

.content-box {
    width: calc(100% - 320px);
    height: 100%;
}

.content-box__content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    font-size: 14px;
}

div.dt-container .dt-search input {
    width: 320px;
    outline: none;
}

.btn.btn-success {
    /* border-radius: 2px; */
    padding: 4px 8px;
    margin-right: 4px;
}

#licenses-table .btn {
    padding: 4px 8px;
    font-size: 14px;
}

#content-box__license-detail, #content-box__monitor-station-add, #content-box__monitor-station-map {
    padding-top: 0;
    display: flex;
    flex-direction: column;
}

.content-box__content .btn {
    padding: 0px 0px 8px 0px;
}

.content-box__content .btn i{
    font-size: 28px;
}

#content-box__license-detail #license-map {
    width: 100%;
    flex: 1;
    position: relative;
}

#point-data {
    position: absolute;
    top: 8px;
    left: 8px;
    bottom: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 480px;
    overflow: auto;
}

#point-data tr td:first-child {
    width: 160px;
}

.point-data__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#point-data__close-btn {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 6px;
}

#point-data table {
    margin-bottom: 8px;
}

.filter-box {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.filter-box__item {
    width: 25%;
}

.filter-box__item label {
    margin-bottom: 4px;
}

.filter-box__item input, .filter-box__item select {
    border-radius: 0px;
}

#total-flow-chart {
    flex: 1;
    width: 100%;
    margin: 4px 0;
}

.filter-box__item.filter-box__buttons {
    display: flex;
    justify-content: end;
    align-items: end;
}


.filter-box__item.filter-box__buttons button {
    height: 36px;
    border-radius: 0px;
    font-size: 14px;
    color: #fff;
    padding: 4px 8px;
}

.filter-box__item.filter-box__buttons button i{
    margin-right: 4px;
    font-size: 16px;
}

#add-ms-form input, #add-ms-form select {
    border-radius: 0;
}

#add-ms-form .btn {
    border-radius: 0px;
    padding: 4px 20px;
    font-size: 14px;
}

#ms-map {
    position: relative;
    width: 100%;
    flex: 1;
}


#ms-data {
    position: absolute;
    top: 8px;
    left: 8px;
    /* bottom: 8px; */
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 480px;
    overflow: auto;
}

#ms-data tr td:first-child {
    width: 160px;
}

.ms-data__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#ms-data__close-btn {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 6px;
}

#ms-data table {
    margin-bottom: 8px;
}

.modal {
    background-color: rgba(204,204,204,0.5);
}
.modal-backdrop {
    display: none;
}

#ms-detail-modal .modal-content{
    font-size: 14px;
    border-radius: 0;
}

#ms-detail-modal .modal-content h6{
    margin: 0;
}

#ms-detail-modal .modal-content button{
    font-size: 10px;
    border-radius: 0;
}

#content-box__config {
    font-size: 14px;
}

.config-update-button-box {
    display: flex;
    justify-content: end;
}

.config-update-button-box .btn {
    border-radius: 0px;
    padding: 4px 12px;
    font-size: 14px;
}

.circle-color {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin-right: 8px;
}

.td-color {
    display: flex;
    align-items: center;
}

.config-control {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 16px;
    margin-bottom: 16px;
}

#wqi-lookup-table, #params-table, #notify-table {
    font-size: 12px;
}

#notify-table textarea {
    width: 100%;
    border: 1px solid #ccc;
    padding: 4px;
}