.menu-box {
    /* width: 21%; */
    background-color: #1F325C;
    height: 100%;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.menu-box__item {
    display: flex;
    flex-direction: row;
    padding: 12px;
    color: #ADB5C3;
    font-size: 14px;
    font-weight: bold;
}

.menu-box__item p {
    margin-top: 1px;
    margin-left: 8px;
}

.menu-box__item.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #579EFF;
}

.content {
    position: fixed;
    display: flex;
    width: 100%;
}

.content-box {
    background-color: #7094e2;
    width: calc(100% - 320px);
    height: 100%;
}