.menu-box {
    /* width: 21%; */
    background-color: #1F325C;
    height: 100%;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.menu-box__item {
    display: flex;
    flex-direction: row;
    padding: 12px;
    color: #ADB5C3;
    font-size: 14px;
    font-weight: bold;
}

.menu-box__item p {
    margin-top: 1px;
    margin-left: 8px;
}

.menu-box__item.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #579EFF;
}

.content {
    position: fixed;
    display: flex;
    width: 100%;
}

.content-box {
    width: calc(100% - 320px);
    height: 100%;
}

.content-box__content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    font-size: 14px;
}

div.dt-container .dt-search input {
    width: 320px;
    outline: none;
}

.btn.btn-success {
    /* border-radius: 2px; */
    padding: 4px 8px;
    margin-right: 4px;
}

#licenses-table .btn {
    padding: 4px 8px;
    font-size: 14px;
}

#content-box__license-detail {
    padding-top: 0;
}

#content-box__license-detail .btn {
    padding: 0px 0px 10px 0px;
}

#content-box__license-detail .btn i{
    font-size: 28px;
}

#content-box__license-detail #license-map {
    width: 100%;
    height: calc(100% - 54px);
    position: relative;
}

#point-data {
    position: absolute;
    top: 8px;
    left: 8px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 480px;
    overflow: auto;

}

#point-data tr td:first-child {
    width: 160px;
}

.point-data__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#point-data__close-btn {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 6px;
}

#point-data table {
    margin-bottom: 0;
}