.content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    /* font-size: 14px; */
}

.content .btn {
    border-radius: 0px;
    font-size: 14px;
}

.content .alert {
    border-radius: 0;
    margin-bottom: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .alert p {
    margin: 0;
}

.content .alert .title {
    margin-bottom: 8px;
    font-weight: bold;
}

.sub-title {
    font-size: 14px;
}

.content__main {
    display: flex;
    gap: 8px;
    flex: 1;

}

.dashboard-box {
    width: 35%;
    height: 100%;
}

#wqi-map-box {
    position: relative;
    height: 100%;
    width: 65%;
}

#wqi-map {
    height: 100%;
    width: 100%;
}

.legend {
    position: absolute;
    right: 8px;
    bottom: 8px;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 10;
    width: 300px;
}

.legend-item {
    margin-left: 8px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
}

.legend-text {
    margin-left: 8px;
}


.time-demension {
    display: flex;
    align-items: center;
}

.slider-container {
    flex: 1;
    margin-left: 8px;
    position: relative;
}

.slider-tooltip {
    position: absolute;
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 8px;
}

.play-button {
    display: block;
    margin: 10px auto;
    padding: 0 8px;
    font-size: 24px;
}

.ui-slider-range {
    background-color: #ff8400;
    height: 4px;
}

.slider {
    background-color: #928484;
    height: 4px;
}


#point-data {
    position: absolute;
    top: 8px;
    left: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    z-index: 1;
    width: 480px;
    overflow: auto;
}

#point-data tr td:first-child {
    width: 160px;
}

.point-data__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#point-data__close-btn {
    cursor: pointer;
    font-size: 24px;
    margin-bottom: 6px;
}

#point-data table {
    margin-bottom: 8px;
}
