
.menu-box {
    /* width: 21%; */
    background-color: #1F325C;
    height: 100%;
    width: 320px;
    display: flex;
    flex-direction: column;
}

.menu-box__item {
    display: flex;
    flex-direction: row;
    padding: 12px;
    color: #ADB5C3;
    font-size: 14px;
    font-weight: bold;
}

.menu-box__item:hover {
    cursor: pointer;
}

.menu-box__item p {
    margin-top: 1px;
    margin-left: 8px;
}

.menu-box__item.active {
    color: #fff;
    background-color: rgba(255, 255, 255, 0.1);
    border-left: 3px solid #579EFF;
}

.content {
    position: fixed;
    display: flex;
    width: 100%;
}

.content-box {
    width: calc(100% - 320px);
    height: 100%;
}

.content-box__content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 16px;
    font-size: 14px;
}

.content-box__sub-content {
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 0px 16px 16px 16px;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.content-box__sub-content #license-map {
    flex: 1;
}

.content-box__sub-content #station-map {
    flex: 1;
}

.filter-box {
    display: flex;
    gap: 8px;
    margin-bottom: 8px;
}

.filter-box__item {
    width: 25%;
}

.filter-box__item label {
    margin-bottom: 4px;
}

.filter-box__item input, .filter-box__item select {
    border-radius: 0px;
}

#total-flow-chart {
    flex: 1;
    width: 100%;
    margin: 4px 0;
}

.filter-box__item.filter-box__buttons {
    display: flex;
    justify-content: end;
    align-items: end;
}


.filter-box__item.filter-box__buttons button {
    height: 32.5px;
    border-radius: 0px;
    font-size: 14px;
    color: #fff;
    padding: 4px 8px;
}

.filter-box__item.filter-box__buttons button i{
    margin-right: 4px;
    font-size: 16px;
}

.close-btn {
    padding: 8px;
    margin-bottom: 8px;
}

.content-box__content form input, .content-box__content form select, .content-box__content form button {
    border-radius: 0px;
}

.content-box__content #create-station-btn {
    padding: 4px 24px;
    margin: 0 !important;
}


#ms-detail-modal .modal-content{
    font-size: 14px;
    border-radius: 0;
}

#ms-detail-modal .modal-content h6{
    margin: 0;
}

#ms-detail-modal .modal-content button{
    font-size: 10px;
    border-radius: 0;
}
