<div class="content-box__content" id="content-box__license">
    <div class="alert alert-info" role="alert">
        <b>Tổng số Giấy phép: <span id="licenses-total"></span></b> - Còn hạn: <span id="licenses-valid"></span> - Sắp hết hạn: <span id="licenses-expiring-soon"></span> - Hết hạn: <span id="licenses-expired"></span>
    </div>
    <div>
        <div class="filter-box">
            <div class="filter-box__item">
                <label for="keyword">Từ khóa</label>
                <input class="form-control" id="keyword" placeholder="Nhập từ khoá tìm kiếm" />
            </div>
            <div class="filter-box__item">
                <label for="license-province">Tỉnh</label>
                <select id="license-province" class="form-control" aria-label="Default select example">
                    <option selected>Tất cả</option>
                    <option value="1">Còn hạn</option>
                    <option value="2">Sắp hết hạn</option>
                    <option value="3">Hết hạn</option>
                </select>
            </div>
            <div class="filter-box__item">
                <label for="license-status">Trạng thái giấy phép</label>
                <select id="license-status" class="form-control" aria-label="Default select example">
                    <option selected>Tất cả</option>
                    <option value="1">Còn hạn</option>
                    <option value="2">Sắp hết hạn</option>
                    <option value="3">Hết hạn</option>
                </select>
            </div>
            <div class="filter-box__item">
                <label for="license-monitor">Trạng thái giám sát</label>
                <select id="license-monitor" class="form-control" aria-label="Default select example">
                    <option selected>Tất cả</option>
                    <option value="1">Đang giám sát</option>
                    <option value="2">Không giám sát</option>
                </select>
            </div>
        </div>
        <table id="licenses-table" class="table table-bordered" cellspacing="8" width="100%"></table>
    </div>

</div>


<div class="content-box__content d-none" id="content-box__license-detail">
    <div>
        <button type="button" class="btn" onclick="on_close_license_detail_click()"><i class="bi bi-x"></i></button>
        <b style="font-size: 16px; margin-left: 4px;">Chi tiết Giấy phép</b>
    </div>

    <table class="table table-bordered wqi-lookup-show-item text-center" id="wqi-lookup-table">
        <thead>
            <tr>
                <td scope="col"><b>Số hiệu văn bản</b></td>
                <td scope="col"><b>Ngày ban hành</b></td>
                <td scope="col"><b>Ngày hết hạn</b></td>
                <td scope="col"><b>Loại giấy phép</b></td>
                <td scope="col"><b>Tên tổ chức/cá nhân</b></td>
                <td scope="col"><b>Số điểm khai thác</b></td>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="license-so-hieu"></td>
                <td id="license-ngay-ban-hanh"></td>
                <td id="license-ngay-het-han"></td>
                <td id="license-loai-giay-phep"></td>
                <td id="license-ten-to-chuc"></td>
                <td id="license-diem-khai-thac"></td>
            </tr>
        </tbody>
    </table>

    <div id="license-map">
        <div id="point-data" class="d-none">
            <div class="point-data__nav">
                <h6>Thông tin điểm khai thác</h6>
                <div id="point-data__close-btn">
                    <i class="bi bi-x"></i>
                </div>
            </div>

            <table class="table table-bordered table-striped">
                <tbody></tbody>
            </table>

            <p>Lưu lượng khai thác trong 24h qua: <b id="total-flow-text"></b></p>
            <canvas id="total-flow-chart"></canvas>
            <p id="total-flow-analysis"></p>
        </div>
    </div>
</div>