<div class="content-box__content" id="content-box__monitor-station">
    <h6>Danh sách Điểm quan trắc</h6>
    <div>
        <div class="filter-box">
            <div class="filter-box__item">
                <label for="monitor-keyword">Từ khóa</label>
                <input class="form-control" id="monitor-keyword" placeholder="Nhập từ khoá tìm kiếm" />
            </div>
            <div class="filter-box__item">
                <label for="monitor-province">Tỉnh</label>
                <select id="monitor-province" class="form-control" aria-label="Default select example">
                    <option selected>Tất cả</option>
                    <option value="1">Còn hạn</option>
                    <option value="2">Sắp hết hạn</option>
                    <option value="3">Hết hạn</option>
                </select>
            </div>
            <div class="filter-box__item">
                <label for="monitor-status">Trạng thái</label>
                <select id="monitor-status" class="form-control" aria-label="Default select example">
                    <option selected>Tất cả</option>
                    <option value="1">Hoạt động</option>
                    <option value="2">Không hoạt động</option>
                </select>
            </div>
            <div class="filter-box__item filter-box__buttons">
                <button class="btn btn-success">
                    <i class="bi bi-plus-square"></i>
                    Thêm mới
                </button>

                <button class="btn btn-info">
                    <i class="bi bi-map"></i>
                    Xem trên bản đồ
                </button>
            </div>
        </div>
        <table id="licenses-table" class="table table-bordered" cellspacing="8" width="100%"></table>
    </div>

</div>


<div class="content-box__content d-none" id="content-box__monitor-station-add">
    
</div>