{% load static %}
{% csrf_token %}

<div class="content-box__content loading-box" id="config-loading-box">
    <div class="spinner-border text-info" role="status"></div>
</div>


<div class="content-box__content" id="content-box__config">
    <div class="alert alert-info" role="alert">
        <b>Cấu hình hệ thống</b>
    </div>

    <div class="config-control">
        <h6 class="config-control__heading"><b>Chỉ số Chất lượng nước</b></h6>
        <div class="config-control__content">

            <table class="table table-bordered" id="wqi-lookup-table">
                <thead>
                    <tr>
                        <th scope="col">Tiêu đề</th>
                        <th scope="col">Giá trị thấp nhất</th>
                        <th scope="col">Giá trị cao nhất</th>
                        <th scope="col">Mô tả</th>
                        <th scope="col">Màu sắc</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>

            <div class="config-update-button-box">
                <button class="btn btn-outline-primary" type="button" id="wqi-lookup-update-btn">
                    <span class="fw-medium text-uppercase">Cập nhật</span>
                </button>

                <button class="btn btn-outline-danger d-none" type="button" id="wqi-lookup-cancel-btn">
                    <span class="fw-medium text-uppercase">Hủy bỏ</span>
                </button>
                <button class="btn btn-outline-success d-none" type="button" id="wqi-lookup-save-btn">
                    <span class="fw-medium text-uppercase">Lưu</span>
                </button>
            </div>
        </div>
    </div>

    <div class="config-control">
        <h6 class="config-control__heading"><b>Gửi thông báo</b></h6>
        <div class="config-control__content">

            <select id="station-point-data-time-step" class="form-control" style="height: 32px; width: auto; border-radius: 0;">
                <option value="30" selected>Thông báo tổng hợp chỉ số chất lượng nước </option>
                <option value="90">Thông báo tổng hợp lưu lượng khai thác </option>
            </select>

            <div class="mb-2" style="margin-top: 32px; padding: 24px 16px; border: 1px solid #ccc; position: relative; width: 640px;">
                <div style="position: absolute; padding: 4px 12px; background-color: #fff; top: -16px;">
                    <p>Cấu hình email</p>
                </div>
                <div class="smtp-box__item">
                    <label style="font-size: 12px; font-weight: bold;" >Mail Server</label>
                    <input class="form-control" value="hotro@wqm.vn" readonly />
                </div>
                <div class="smtp-box__item">
                    <label style="font-size: 12px; font-weight: bold;" >Mật khẩu</label>
                    <input class="form-control" type="password" value="password" readonly />
                </div>
                <div class="smtp-box__item">
                    <label style="font-size: 12px; font-weight: bold;" >Token</label>
                    <textarea style="border-radius: 0;" name="" id="" class="form-control" value="quanly@wqm.vn" readonly>eyJ4NXQiOiJNV0l5TkRJNVlqRTJaV1kxT0RNd01XSTNOR1ptTVRZeU5UTTJOVFZoWlRnMU5UTTNaVE5oTldKbVpERTFPVEE0TldFMVlUaGxNak5sTldFellqSXlZUSIsImtpZCI6Ik1XSXlOREk1WWpFMlpXWTFPRE13TVdJM05HWm1NVFl5TlRNMk5UVmhaVGcxTlRNM1pUTmhOV0ptWkRFMU9UQTROV0UxWVRobE1qTmxOV0V6WWpJeVlRX1JTMjU2IiwidHlwIjoiYXQrand0IiwiYWxnIjoiUlMyNTYifQ</textarea>
                </div>
            </div>

            <div class="mb-2" style="margin-top: 32px; padding: 24px 16px; border: 1px solid #ccc; position: relative; width: 640px;">
                <div style="position: absolute; padding: 4px 12px; background-color: #fff; top: -16px;">
                    <p>Nội dung</p>
                </div>
                <div class="smtp-box__item">
                    <label style="font-size: 12px; font-weight: bold;" >Người nhận</label>
                    <input class="form-control" value="quanly@wqm.vn" readonly />
                </div>
                <div class="smtp-box__item">
                    <label style="font-size: 12px; font-weight: bold;" >Chủ đề</label>
                    <input class="form-control" value="THÔNG BÁO CHỈ SỐ CHẤT LƯỢNG NƯỚC" readonly />
                </div>
                <div class="smtp-box__item mt-2">
                    <label style="font-size: 12px; font-weight: bold;" >Nội dung</label>
                    <textarea style="border-radius: 0;" name="" id="" class="form-control" value="quanly@wqm.vn" readonly></textarea>
                </div>
            </div>


            <div class="config-update-button-box">
                <button class="btn btn-outline-success" type="button" style="margin-right: 8px;">
                    <span class="fw-medium text-uppercase">Gửi thử</span>
                </button>
                <button class="btn btn-outline-primary" type="button">
                    <span class="fw-medium text-uppercase">Cập nhật</span>
                </button>
            </div>
        </div>
    </div>
</div>